.container-1, .container-2 {
    font-family: var(--fonte-primaria);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em; 
    padding: 5em 2em; 
    margin: 6em auto; 
    max-width: 1200px; 
}

.sobre-mim__texto {
    padding: 2em;
    font-size: 1.2rem;
    width: 50%;    
    line-height: 1.6; 
    text-align: justify; 
}

.container__lista {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.container__lista__titulo {
    font-size: 2rem;
    margin: 2rem 0;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    text-shadow: 4px 4px 4px rgba(6, 169, 126, 0.25);
}

.container__lista__item__conteudo {
    font-size: 1.2rem;
    text-align: justify;
}

.container__lista__item__conteudo strong{
    color: var(--cor-secundaria);
    text-shadow: 2px 2px 2px rgba(6, 169, 126, 0.25);
    font-weight: 700;
}

.container-1__img {
    width: 50%; 
    border-radius: 3%;
    box-shadow: 8px 8px 8px rgba(6, 169, 126, 0.25);
    object-fit: cover; 
}

.container-2__img {
    width: 50%; 
    border-radius: 3%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .container-1 {
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }

    .sobre-mim__texto {
        width: auto;
        padding: 2em;    
        margin: 0;
    }

    .container-2 {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
    }
}





